<!doctype html>
<%_ /*
    region header
    Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

    License
    -------

    This library written by Torben Sickert stand under a creative commons
    naming 3.0 unported license.
    See https://creativecommons.org/licenses/by/3.0/deed.de
    endregion
*/ _%>
<html>
    <!--region head-->
    <head>
        <meta charset="utf-8">
        <!--Prevent browser caching-->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <title>playground</title>
        <!--region style-->
        <link rel="stylesheet" href="/@material/slider/dist/mdc.slider.css">
        <style>
            agile-form {
                file-input,
                text-input,
                generic-inputs,
                generic-interval,
                slider-input {
                    display: block;
                    width: 400px;
                }

                file-input,
                text-input {
                    margin-bottom: 20px;
                }

                generic-inputs {
                    margin-bottom: 60px;
                }
            }

            <%-
                require('material-icons/iconfont/material-icons.css')
                    .replace(
                        /(url\()"?(?:\.\/)?(material-icons\.[^.")]+)"?(\))/g,
                        '$1material-icons/iconfont/$2$3'
                    )
             %>
        </style>
        <!--endregion-->
        <!--region polyfill-->
        <%-
            include(
                'web-component-wrapper/polyfill.html',
                {additionalFeatures: [
                    /*
                        Most polyfills are determined via
                        "create-polyfill-service-url" subracted by already
                        includes one due to "web-component-wrapper".
                    */
                    // Asynchronous suggestion creator.
                    'AbortController',
                    'Array.prototype.every',
                    'Array.prototype.fill',
                    'Array.prototype.find',
                    'Array.prototype.forEach',
                    'Array.prototype.indexOf',
                    'Array.prototype.reduce',
                    'Array.prototype.some',
                    'Array.prototype.sort',
                    'Blob',
                    'Event',
                    'fetch',
                    'globalThis',
                    'Intl',
                    'Object.assign',
                    'Object.create',
                    'Object.fromEntries',
                    'Object.getOwnPropertyNames',
                    'Object.getPrototypeOf',
                    'Object.setPrototypeOf',
                    'Reflect',
                    'Reflect.construct',
                    'Symbol.prototype.description'
                ]}
            )
        %>
        <!--endregion-->
        <!--region script-->
        <script src="https://www.google.com/recaptcha/api.js?render=6LdvN-sZAAAAAHv2Ko2_g_8EHrIRbNffZoGHseSS"></script>
        <script src="/web-input-material/index.bundle.js"></script>
        <script>
            window.testAction = function(action, actionResults) {
                var run = actionResults.test || 1

                console.info(run + '. tests actions triggered:', action)

                return run + 1
            }

            window.onload = function() {
                /* region fetch mock */
                window.fetch = function(url, options) {
                    const headers = {}
                    if (window.Headers) {
                        const givenHeaders =
                            Array.from(options.headers.entries())
                        for (
                            var index = 0; index < givenHeaders.length; index++
                        )
                            headers[givenHeaders[index][0]] =
                                givenHeaders[index][1]
                        options.headers = headers
                    }

                    console.info(
                        'Send mock request to ' + url + ' with:', options
                    )

                    return new Promise(function(resolve) {
                        resolve({
                            ok: document.querySelector(
                                '[name="reCaptchaV3Challenge"]'
                            ).value,
                            status: document.querySelector(
                                '[name="reCaptchaV3Challenge"]'
                            ).value ? 200 : 420,
                            text: function() {
                                return ')]}\',{}'
                            }
                        })
                    })
                }
                /* endregion */
                webInputMaterial.register()
                agileForm.index.api.register()
            }
        </script>
        <!--endregion-->
    </head>
    <!--endregion-->
    <body>
        <agile-form
            base-configuration="{
                actions: {test: {code: 'testAction(action, actionResults)'}},

                debug: true,

                evaluations: [
                    ['testEvaluation', function() { return 'testEvaluation'}],
                    ['testExpression', '5']
                ],

                inputs: {
                    disabledSelection: {
                        properties: {
                            disabled: true,
                            required: true,
                            value: 'A',
                            selection: ['A', 'B', 'C', 'D']
                        }
                    },
                    simple: {
                        properties: {
                            placeholder: 'Simple placeholder',
                            required: true
                        }
                    },
                    type: {
                        properties: {
                            default: 'A',
                            required: true,
                            selection: ['A', 'C', 'D']
                        }
                    },
                    password: {
                        dependsOn: 'simple',
                        dynamicExtendExpressions: {
                            required: 'simple.value === \'password required\''
                        },
                        showIfExpression: 'simple.value !== \'no password\'',
                        valuePersistence: 'persistent'
                    }
                },

                reCaptcha: {
                    key: {
                        v2: '6LcUiyUTAAAAAPHLNbtoP6v-FHsPSyZ4ZqLnbThf',
                        v3: '6LdvN-sZAAAAAHv2Ko2_g_8EHrIRbNffZoGHseSS'
                    }
                },

                initializeTarget: {url: 'http://localhost:8080'},
                target: {url: 'http://localhost:8080'},

                urlConfigurationMask: {include: true}
            }"
            configuration="{
                inputs: {
                    anotherName: {},
                    feelsGood: {
                        properties: {
                            model: {
                                nullable: false,
                                type: 'boolean'
                            }
                        }
                    },
                    items: {properties: {type: 'string[]'}},
                    name: {
                        properties: {
                            model: {
                                default: 'Default Name',
                                maximumLength: 15,
                                minimumLength: 2,
                                nullable: false,
                                pattern: '[a-zA-Z]+'
                            }
                        }
                    },
                    message: {
                        properties: {
                            model: {
                                maximumLength: 50,
                                minimumLength: 4,
                                nullable: false,
                                pattern: '[a-zA-Z0-9]+'
                            }
                        }
                    },
                    pensum: {
                        properties: {
                            model: {
                                default: 10,
                                maximum: 100,
                                minimum: 5,
                                nullable: false
                            }
                        }
                    }
                }
            }"
            dynamic-configuration="{
                inputs: {
                    file: {},
                    legalNotesChecked: {
                        dependsOn: 'reCaptchaV3Challenge',
                        dynamicExtendExpressions: {
                            'model.nullable': 'reCaptchaV3Challenge.value',
                            value: '(eventName === \'change\' && event.target && event.target.name === \'reCaptchaV3Challenge\' && reCaptchaV3Challenge.value) ? false : self.value'
                        }
                    },
                    reCaptchaV3Challenge: {
                        dependsOn: 'legalNotesChecked',
                        dynamicExtendExpressions: {
                            required: function(event, scope) { return !scope.legalNotesChecked.value },
                            value: '(eventName === \'change\' && event.target && event.target.name === \'legalNotesChecked\' && legalNotesChecked.value) ? false : self.value'
                        }
                    }
                }
            }"
        >
            <circular-spinner size="'xlarge'"></circular-spinner>

            <div class="agile-form__status-message"></div>

            <hr
                class="agile-form__group"
                name="message-divider"
                show-if="stateMessage"
            />

            <div
                class="agile-form__group"
                name="send-report"
                show-if="submitted"
            >
                Form-Result: <pre>${object.represent(getData())}</pre>
            </div>
            <div
                class="agile-form__group"
                name="response-report"
                show-if="latestResponse"
            >
                Initial Response (Status: ${initialResponse.status}):
                <pre>${object.represent(initialResponse.data)}</pre>
                <br />
                Response (Status: ${latestResponse.status}):
                <pre>${object.represent(latestResponse.data)}</pre>
            </div>

            <hr
                class="agile-form__group"
                name="result-message-divider"
                show-if="submitted"
            />

            <input name="simple" />

            <text-input
                declaration="Please fill in your type."
                description="Type"
                labels="{A: 'Label A', B: 'Label B', C: 'Label C'}"
                selection="['A', 'B', 'C', 'D', 'E']"
                name="type"
            ></text-input>

            <text-input
                declaration="Additional type."
                description="Second type"
                name="type"
            ></text-input>

            <text-input
                declaration="Password declaration."
                description="Password"
                name="password"
                trailing-icon="'password_preset'"
            ></text-input>

            <text-input
                declaration="Please fill in your name."
                description="Name"
                name="name"
            ></text-input>
            <text-input
                declaration="This is your provided name."
                description="Synchronized name"
                name="name.value"
            ></text-input>

            <text-input
                bind-on-blur="this.title = 'Current input: ' + this.value"
                declaration="Please provide a message."
                description="Message"
                editor="text"
                name="message"
                placeholder="Please type in a message..."
            ></text-input>

            <text-input
                description="How do you feel?"
                declaration="Do you feel good?"
                labels="{true: 'Yess!', false: 'Oh noo I am sad...'}"
                name="feelsGood"
                placeholder="Please select your feeling"
                search-selection
            ></text-input>

            <text-input
                description="Disabled selection"
                labels="{A: 'Label A', B: 'Label B', C: 'Label C', D: 'Label D'}"
                name="disabledSelection"
            ></text-input>

            <generic-inputs
                default="['coding is much fun']"
                description="Provide some thoughts..."
                name="items"
            ></generic-inputs>

            <file-input description="Nice file" name="file">
            </file-input>

            <slider-input
                name="pensum"

                value="12"
                min="10"
                max="100"
                step="2"
            ></slider-input>

            <div
                class="agile-form__group"
                data-name="slider"
                data-show-if="pensum.value > 30"
            >
                Slider is more than 30 (${pensum.value})
            </div>

            <requireable-checkbox
                description="Check it!" name="legalNotesChecked"
            ></requireable-checkbox>
            <requireable-checkbox
                name="reCaptchaV3Challenge"
                description="Re-CAPTCHA v3 challenge works."
            ></requireable-checkbox>
            <requireable-checkbox
                description="Useless Check" name="uselessCheck"
            ></requireable-checkbox>

            <div class="agile-form__re-captcha-fallback"></div>

            <button truncate>Truncate</button>
            <button clear>Clear</button>
            <button type="reset">Reset</button>
            <button type="submit">OK</button>

            <button action="test">Test</button>

            <hr/>

            <div class="agile-form__group" data-name="url">
                TestEvaluationValue: "${true && testEvaluation}"
                <br />
                TestExpressionValue: "${testExpression}"
                <br />

                Current-State-URL:
                <a href="${determineStateURL().encoded}">
                    ${determineStateURL().plain}
                </a>

                <br />

                <textarea
                    id="state-url-input"
                    name="determineStateURL().plain"
                    style="width: 100%"
                ></textarea>
                <div
                    class="agile-form__group"
                    data-name="new-url"
                    show-if="true"
                >
                    New-State-URL:
                    <a id="state-url-output"></a>
                </div>

                <script>
                    const generateNewStateURL = function(value) {
                        const output =
                            document.querySelector('#state-url-output')
                        output.innerText = value
                        output.setAttribute('href', encodeURI(value))
                    }

                    document.querySelector('#state-url-input')
                        .addEventListener('keyup', function(event) {
                            generateNewStateURL(event.target.value)
                        })
                </script>
            </div>

        </agile-form>
    </body>
<html>
<%_ /*
    region vim modline
    vim: set tabstop=4 shiftwidth=4 expandtab:
    vim: foldmethod=marker foldmarker=region,endregion:
    endregion
*/ _%>
